<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Layout</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
</head>

<body class="nsw-body-content nsw-ds-example">
  
<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <h1 class="nsw-section-title">Layout</h1>
	  		</div>
	  	</div>
			<div class="nsw-page-layout">
			  <main class="nsw-page-layout__main">
			    <p>Full width - Main content area</p>
			    <div class="nsw-ds-example-container"></div>
			  </main>
			</div>
			
			<div class="nsw-page-layout">  
			  <div class="nsw-page-layout__sidebar nsw-page-layout__sidebar--desktop">
			    <p>Side nav area</p>
			    <div class="nsw-ds-example-container"></div>
			  </div>
			  <main class="nsw-page-layout__main">
			    <p>Two column - Main content area</p>
			    <div class="nsw-ds-example-container"></div>
			  </main>
			</div>
			
			<div class="nsw-page-layout">  
			  <main class="nsw-page-layout__main">
			    <p>Two column - Main content area</p>
			    <div class="nsw-ds-example-container"></div>
			  </main>
			  <div class="nsw-page-layout__sidebar">
			    <p>Sidebar area</p>
			    <div class="nsw-ds-example-container"></div>
			  </div>
			</div>			<div class="nsw-grid-overlay">
			  <div class="nsw-container">
			    <div class="nsw-grid">
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			      <div class="nsw-col nsw-col-1">
			        <div class="nsw-ds-example-box"></div>
			      </div>
			    </div>
			  </div>
			</div>
	  </div>
	</div>
</main>

  <script src="../../js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
