<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Breadcrumbs</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
</head>

<body class="nsw-body-content">
  <div class="nsw-container">
</div>

<div class="nsw-section--white">
	<div class="nsw-container">
	  <div class="nsw-page-layout">
	    <div class="nsw-page-layout__main">
	      <div class="nsw-grid">
	        <div class="nsw-col">
						<nav aria-label="Breadcrumb" class="nsw-breadcrumb">
						  <ol class="nsw-breadcrumb__list">
						      <li class="nsw-breadcrumb__item">
						        <a href="#" class="nsw-breadcrumb__link " >Home</a>
						      </li>
						      <li class="nsw-breadcrumb__item">
						        <a href="#" class="nsw-breadcrumb__link " >About DPC</a>
						      </li>
						      <li class="nsw-breadcrumb__item">
						        <a href="#" class="nsw-breadcrumb__link " >NSW Digital Design System</a>
						      </li>
						      <li class="nsw-breadcrumb__item">
						        <a href="#" class="nsw-breadcrumb__link nsw-breadcrumb--current" aria-current="page">Content design</a>
						      </li>
						  </ol>
						</nav>
	        </div>
	      </div>
	    </div>
	  </div>
	</div>
</div>
  <script src="../../js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
