<!doctype html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NSW Digital Design System - Feature tile</title>
  <meta name="robots" content="noindex" />
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="../../favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="../../css/main.css">
</head>

<body class="nsw-body-content">
  
<main>
  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">Links list (fewer than 6)</h2>
              <div class="nsw-feature-tile">
                <h2 class="nsw-feature-tile__title">
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</i>
                  <span>Standards</span>
                </h2>  <div class="nsw-feature-tile__text">
                  <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                </div>
                <div class="nsw-feature-tile__cards-group">
                </div>
                <div class="nsw-feature-tile__links-group">
                  <ul >
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content basics</span> <sup class="new-text">NEW</sup>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Writing for inclusivity</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Writing style</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content audit</span>
                      </a>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">Links list (more than 6)</h2>
              <div class="nsw-feature-tile">
                <h2 class="nsw-feature-tile__title">
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</i>
                  <span>Standards</span>
                </h2>  <div class="nsw-feature-tile__text">
                  <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                </div>
                <div class="nsw-feature-tile__cards-group">
                </div>
                <div class="nsw-feature-tile__links-group">
                  <ul class="nsw-feature-tile__double-list">
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content basics</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Writing for inclusivity</span> <sup class="new-text">NEW</sup>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Writing style</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Finding a tone of voice</span> <sup class="new-text">NEW</sup>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content audit</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content structure</span>
                      </a>
                    </li>
                  </ul>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--white">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">CTA and Images</h2>
              <div class="nsw-feature-tile">
                <h2 class="nsw-feature-tile__title">
                  <a href="#" class="nsw-feature-tile__title-link">
                  Standards
                  </a>
                </h2>  <div class="nsw-feature-tile__text">
                  <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                </div>
                <div class="nsw-feature-tile__cards-group">
                  <div class="nsw-feature-tile__card">
                    <img src="https://picsum.photos/id/1076/200/200" alt="" class="nsw-feature-tile__card-img" />
                    <p class="nsw-feature-tile__card-text">Expectations</p>
                  </div>
                  <div class="nsw-feature-tile__card">
                    <img src="https://picsum.photos/id/20/200/200" alt="" class="nsw-feature-tile__card-img" />
                    <p class="nsw-feature-tile__card-text">How-top guides</p>
                  </div>
                  <div class="nsw-feature-tile__card">
                    <img src="https://picsum.photos/id/859/200/200" alt="" class="nsw-feature-tile__card-img" />
                    <p class="nsw-feature-tile__card-text">Project checklist</p>
                  </div>
                </div>
                <div class="nsw-feature-tile__links-group">
                  <ul >
                  </ul>
                </div>
                <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="nsw-section--light-10">
    <div class="nsw-container">
      <div class="nsw-page-layout">
        <div class="nsw-page-layout__main">
          <div class="nsw-grid">
            <div class="nsw-col nsw-col-lg-8 nsw-offset-lg-2">
              <h2 class="nsw-section-title">All options</h2>
              <div class="nsw-feature-tile">
                <h2 class="nsw-feature-tile__title">
                  <i class="material-icons nsw-material-icons" focusable="false" aria-hidden="true">east</i>
                  <a href="#" class="nsw-feature-tile__title-link">
                  Standards
                  </a>
                </h2>  <div class="nsw-feature-tile__text">
                  <p>The standards outline the best practice you need to consider when building a NSW Government product or service</p>
                </div>
                <div class="nsw-feature-tile__cards-group">
                  <div class="nsw-feature-tile__card">
                    <img src="https://picsum.photos/id/1076/200/200" alt="" class="nsw-feature-tile__card-img" />
                    <p class="nsw-feature-tile__card-text">Expectations</p>
                  </div>
                  <div class="nsw-feature-tile__card">
                    <img src="https://picsum.photos/id/20/200/200" alt="" class="nsw-feature-tile__card-img" />
                    <p class="nsw-feature-tile__card-text">How-top guides</p>
                  </div>
                  <div class="nsw-feature-tile__card">
                    <img src="https://picsum.photos/id/859/200/200" alt="" class="nsw-feature-tile__card-img" />
                    <p class="nsw-feature-tile__card-text">Project checklist</p>
                  </div>
                </div>
                <div class="nsw-feature-tile__links-group">
                  <ul class="nsw-feature-tile__double-list">
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content basics</span> <sup class="new-text">NEW</sup>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Writing for inclusivity</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Writing style</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content audit</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content structure</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Finding a tone of voice</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Meta data</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Images and alt text</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Documents and media</span>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="nsw-feature-tile__link">
                        <span class="link-text">Content style guide</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <a href="#" class="nsw-feature-tile__cta nsw-text-link">View the pattern library</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

  <script src="../../js/main.js"></script>
  <script>window.NSW.initSite()</script>
</body>
</html>
